body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #f7f8f9;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.nav_container {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #02565b;
}

.nav_container .nav_logotype {
  width: 300px;
}

.nav_container .nav_logotype .logo {
  width: 300px;
  height: 60px;
}

.nav_container .nav_socialNetwork {
  width: 300px;
  height: 50px;
}

.nav_container .nav_socialNetwork .socialNetwork_list {
  padding: 0 50px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav_container .nav_socialNetwork .socialNetwork_link {
  display: block;
  color: #fcb512;
  padding: 10px;
  font-size: 18px;
}

.navbar {
  width: 100%;
  height: 60px;
  background-color: #02565b !important;
}

.container-fluid {
  padding: 0;
}

.nav-link {
  color: #fff !important;
  font-weight: 300;
}

.navbar-nav {
  margin: auto;
}

.dropdown-menu {
  margin-top: 5px !important;
  margin-left: -32px;
  padding: 0;
  background-color: #02565b;
  border: none;
  border-radius: 0;
}

.dropdown-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
  border-bottom: 0.1px solid gray;
  padding: 10px 2px 10px 10px !important;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.dropdown-item:hover {
  color: #fff;
  background-color: #c41d39 !important;
}

.dropdown-item .arrow-right {
  display: block;
  color: #fcb512;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.dropdown-item:hover .arrow-right {
  color: #fcb512;
}

.dropdown-menu_list {
  position: relative;
}

.dropdown-menu_subitem {
  padding: 0;
  position: absolute;
  min-width: 260px;
  margin-top: -45px;
  margin-left: 205px;
  border-left: 5px solid #fcb512;
  background-color: #02565b;
  display: none;
}

.dropdown-menu_subitem-link {
  color: #fff;
  font-size: 16px;
  display: block;
  padding: 10px 2px;
  border-bottom: 1px solid gray;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.dropdown-menu_subitem-link:hover {
  color: #fff;
  background-color: #c41d39 !important;
}

.main_container {
  margin: auto;
  padding: 10px 5px;
  text-align: center;
  width: 1140px;
  min-height: 700px;
  background-color: #fff;
}

.main_container .main_container-title {
  margin: 10px 0 15px 0;
  color: #121212;
  font-weight: 600;
}

.main_container .gym_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main_container .gym_container .gym_item {
  margin: 10px;
  width: 330px;
  min-height: 60px;
  border-radius: 2px;
  background-color: #c41d39;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_container .gym_container .gym_item .gym_item-link {
  padding: 3px 1px;
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.main_container .gym_container .gym_item .gym_item-link:hover {
  background-color: rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0px 0px 6px #525252;
          box-shadow: 0px 0px 6px #525252;
  border-radius: 2px;
}

.main_container .gym_container .gym_item .gym_item-link .district {
  font-weight: 300;
  font-size: 11px;
  color: #fcb512;
}

.main_container .gym_container .gym_item .gym_item-link .working_hours {
  font-weight: 300;
  font-size: 15px;
}

.footer_container {
  width: 100%;
  min-height: 50px;
  padding: 10px 5px;
  font-weight: 100;
  background-color: #02565b;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}
/*# sourceMappingURL=main.css.map */